@model WebQLKS.Models.tbl_KhachHang

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebQLKS.Models.tbl_KhachHang kh = ViewBag.khachhang;
    <meta charset="UTF-8">
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }
    .background {
        color: white;
        border: 1px solid black;
        min-height: 95vh;
        max-height:fit-content;
        background-image: url('/Content/Home/Image/image_bg.jpg');
        background-size: cover;
    }
    .edit-container {
        width: 20%;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 10px;
    }

    .profile-header {
        text-align: center;
        margin-top:20px;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .profile-details p {
        margin: 10px 0;
    }

    .profile-details strong {
        display: inline-block;
        width: 150px;
    }

    .picture {
        margin: auto;
    }
</style>
<div class="container-fluid background">
    <h2 class="profile-header">CHỈNH SỬA TRANG CÁ NHÂN</h2>

    @using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

<div class="edit-container">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaKH)

    <div class="form-group">
        <div><label>Họ và tên</label></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="hidden" id="TaiKhoan" name="TaiKhoan" value="@Model.TaiKhoan" />

    <div class="form-group">
        <div><label>Mật khẩu</label></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div><label>Nhập lại mật khẩu</label></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ConfirmPass, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPass, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div><label>Email</label></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div><label>Số điện thoại</label></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div><label>Ngày sinh</label></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div><label>Căn cước công dân</label></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.CCCD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CCCD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div><label>Địa chỉ</label></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div><label>Quốc tịch</label></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.QuocTich, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.QuocTich, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<input type="hidden" id="MaLoaiKH" name="MaLoaiKH" value="Model.MaLoaiKH" />*@
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <button class="btn btn-primary w-100 py-2" type="submit" style="margin-top:10px" value="Save">Lưu thông tin</button>
        </div>
    </div>
</div>
        }

    <div class="m-3">
        @Html.ActionLink("Trở về trang cá nhân", "UserInfor", null,new {@class="btn btn-secondary"})
    </div>
    </div>