@model IEnumerable<WebQLKS.Models.tbl_DichVu>

@{
    ViewBag.Title = "chiTietLoaiDV";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <meta charset="utf-8" />
}

<h2 class="fw-bold text-center fs-0" style="text-align:center">DỊCH VỤ</h2>
<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .card {
        width: 30%;
        margin: 10px;
    }

    .line {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .frame {
        width: auto; /* Chiều rộng của khung */
        height: 300px; /* Chiều cao của khung */
        overflow: hidden; /* Đảm bảo hình ảnh không vượt quá khung */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .frame img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Giữ tỷ lệ hình ảnh và thu nhỏ để vừa khung */
    }
    .btn-custom {
        background-color: cadetblue;
    }

    .btn-custom:hover {
        background-color: lightblue;
    }
</style>
<div class="card-container container text-center mx-auto ">
    @foreach (var item in Model)
    {
        <div class="card align-content-center " style="width: 31%;">
            @{
                if (item.MaLoaiDV == "DV01")
                {
                    if (item.img != null)
                    {
                        <img src="~/Content/Service/DonDep/@item.img" class="card-img-top frame" alt="Image Description">
                    }
                    else
                    {
                        <img src="~/Content/Home/Image/empty.jpg" class="card-img-top frame" alt="Image Description">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.TenDV)</h5>
                        <p class="card-text line">@Html.DisplayFor(modelItem => item.MoTa)</p>
                        <a href="@Url.Action("detailService",new {maDV= item.MaDV})" class="btn btn-custom text-white">XEM CHI TIẾT</a>
                    </div>
                }
                else if (item.MaLoaiDV == "DV02")
                {
                    if (item.img != null)
                    {
                        <img src="~/Content/Service/menu/@item.img" class="card-img-top frame" alt="Image Description">
                    }
                    else
                    {
                        <img src="~/Content/Home/Image/empty.jpg" class="card-img-top frame" alt="Image Description">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.TenDV)</h5>
                        <p class="card-text line">@Html.DisplayFor(modelItem => item.MoTa)</p>
                        <a href="@Url.Action("detailService",new {maDV= item.MaDV})" class="btn btn-custom text-white">XEM CHI TIẾT</a>
                    </div>
                }
                else if (item.MaLoaiDV == "DV03")
                {
                    if (item.img != null)
                    {
                        <img src="~/Content/Service/spa/@item.img" class="card-img-top frame" alt="Image Description">
                    }
                    else
                    {
                        <img src="~/Content/Home/Image/empty.jpg" class="card-img-top frame" alt="Image Description">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.TenDV)</h5>
                        <p class="card-text line">@Html.DisplayFor(modelItem => item.MoTa)</p>
                        <a href="@Url.Action("detailService",new {maDV= item.MaDV})" class="btn btn-custom text-white">XEM CHI TIẾT</a>
                    </div>
                }
                else if (item.MaLoaiDV == "DV04")

                {
                    if (item.img != null)
                    {
                        <img src="~/Content/Service/spa/@item.img" class="card-img-top frame" alt="Image Description">
                    }
                    else
                    {
                        <img src="~/Content/Home/Image/empty.jpg" class="card-img-top frame" alt="Image Description">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.TenDV)</h5>
                        <p class="card-text line">@Html.DisplayFor(modelItem => item.MoTa)</p>
                        <a href="@Url.Action("detailService",new {maDV= item.MaDV })" class="btn btn-custom text-white">XEM CHI TIẾT</a>
                    </div>
                }
            }

        </div>
    }
</div>