@model WebQLKS.Models.tbl_DichVu

@{
    ViewBag.Title = "ChinhSuaSpa";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="container card w-75 mt-3">
    <h2>Chỉnh sửa dịch vụ</h2>

    @using (Html.BeginForm("ChinhSuaSpa", "QuanLyDV", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Spa</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaDV)

            <div class="form-group">
                Tên dịch vụ:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenDV, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenDV, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Đơn giá:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Mã loại dịch vụ:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaLoaiDV, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.MaLoaiDV, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Hình ảnh:
                <div class="col-md-10">
                    @if (!string.IsNullOrEmpty(Model.img))
                    {
                        <img src="@Url.Content("~/Content/Service/spa/" + Model.img)" alt="Current Image" style="max-height: 100px;" />
                    }
                    else
                    {
                        <img src="~/Content/Home/Image/empty.jpg" style="max-height: 100px;" />
                    }
                    <input type="file" name="img" class="form-control" />
                    @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Mô tả:
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control", rows = 5 })
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu thay đổi" class="btn btn-warning" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Quay lại</button>
                </div>
            </div>
        </div>
    }
</div>