@model WebQLKS.Models.tbl_DichVuDaDat

@{
    ViewBag.Title = "chiTietDonHang";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container card mt-3 w-75 text-center">
    <h2>Chi tiết đơn hàng</h2>

    <div>
        <h4>Đơn hàng</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Ngày
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgaySuDungDV)
            </dd>

            <dt>
                Tên dịch vụ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_DichVu.TenDV)
            </dd>

            <dt>
                Trạng thái
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_TrangThaiDichVu.TenTrangThai)
            </dd>

            <dt>
                Mã khách hàng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_HoaDon.MaKH)
            </dd>

            <dt>
                Người sử dụng dịch vụ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_KhachHang.HoTen)
            </dd>

            <dt>
                Nhân viên phục vụ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_NhanVien.HoTen)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa đơn hàng", "suaDonHang", new { id = Model.ID}, new {@class="btn btn-success"})
        <button type="button" class="btn btn-default" onclick="window.history.back();">Quay lại</button>
    </p>
</div>