@model IEnumerable<WebQLKS.Models.tbl_DichVuDaDat>

@{
    ViewBag.Title = "LichSpa";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<style>
    table {
        border: 1px solid black;
        text-align: center;
    }
</style>
<div class="container card w-75 mt-3">
    <h2 class="text-center fw-bold text-uppercase">Lịch Hẹn Spa</h2>
    <table class="table">
        <tr>
            <th>
                Ngày
            </th>
            <th>
                Dịch vụ sử dụng
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Mã khách hàng
            </th>
            <th>
                Người sử dụng dịch vụ
            </th>
            <th>
                Người thực hiện dịch vụ
            </th>
        </tr>
        @{
            if (!Model.Any())
            {
                <tr style="">
                    <td colspan="7" class="text-center mt-auto">
                        <div style="height:200px;margin-top:20%">Hiện chưa có lịch hẹn</div>
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgaySuDungDV)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_DichVu.TenDV)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_TrangThaiDichVu.TenTrangThai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_HoaDon.MaKH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_KhachHang.HoTen)
                        </td>
                        <td>
                            @{
                                if (item.MaNV == null)
                                {
                                    <div>Chưa xác nhận</div>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.tbl_NhanVien.HoTen)
                                }
                            }
                        </td>
                        <td class="d-flex flex-column">
                            <div class="d-flex">
                                @Html.ActionLink("Sửa", "SuaLichHen", new { id = item.ID }, new { @class = "btn btn-success" }) |
                                @Html.ActionLink("Xem", "ChiTietLichSpa", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Hủy", "XoaLichHen", new { id = item.ID }, new { @class = "btn btn-danger" })
                            </div>
                        </td>
                    </tr>
                }
            }
        }


    </table>
</div>
@{
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
}
<div class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
