@model WebQLKS.Models.tbl_DichVuDaDat

@{
    ViewBag.Title = "XoaLichDon";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container card w-50 text-center mt-3">
    <h2 class="fw-bold">Xóa lịch dọn</h2>

    <h3>Bạn có chắc muốn xóa lịch dọn này?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Thời gian
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgaySuDungDV)
            </dd>

            <dt>
                Tên dịch vụ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_DichVu.TenDV)
            </dd>

            <dt>
                Trạng thái
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_TrangThaiDichVu.TenTrangThai)
            </dd>

            <dt>
                Mã khách hàng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_HoaDon.MaKH)
            </dd>

            <dt>
                Người sử dụng dịch vụ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_KhachHang.HoTen)
            </dd>

            <dt>
                Người thực hiện dịch vụ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_NhanVien.HoTen)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <button type="button" class="btn btn-de" onclick="history.back();">Quay lại</button>
            </div>
        }
    </div>
</div>