@model WebQLKS.Models.tbl_Phong

@{
    ViewBag.Title = "XoaPhong";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<style>
    dd > img {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }
</style>
<div class="container card mt-3 w-75 text-center">
    <h2>Xóa phòng</h2>

    <h3>Bạn có chắc muốn xóa phòng này?</h3>
    <div>
        <h4>Phòng @Model.SoPhong</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Số phòng:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoPhong)
            </dd>

            <dt>
                Hình ảnh
            </dt>

            <dd>
                @{
                    if (Model.HinhAnh != null)
                    {
                        <img src="~/Content/Room/img/@Model.HinhAnh" />
                    }
                    else
                    {
                        <img src="~/Content/Home/Image/empty.jpg" />
                    }
                }
            </dd>

            <dt>
                Loại phòng:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_LoaiPhong.TenLoaiPhong)
            </dd>

            <dt>
                Trạng Thái:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_TrangThaiPhong.TenTrangThai)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <div>
                    <button type="button" class="btn btn-default" onclick="window.history.back();">Quay lại</button>
                </div>

            </div>
        }
    </div>
</div>
