@model WebQLKS.Models.tbl_DichVu

@{
    ViewBag.Title = "XoaSpa";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<style>
    dd > img {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }
</style>
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    DateTime a = DateTime.Now.AddDays(3);

}
<div class="container card w-75 mt-3 text-center">
    <h2>Xóa dịch vụ</h2>

    <h3>Bạn có chắc muốn xóa dịch vụ này?</h3>
    <div>
        <h4>Spa</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên dịch vụ:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenDV)
            </dd>

            <dt>
                Đơn giá:
            </dt>

            <dd>
                @String.Format(info, "{0:0,0}", Model.DonGia) VND
            </dd>

            <dt>
                Hình ảnh:
            </dt>

            <dd>
                @{
                    if (Model.img != null)
                    {
                        <img src="~/Content/Service/spa/@Model.img" />
                    }
                    else
                    {
                        <img src="~/Content/Home/Image/empty.jpg" />
                    }
                }
            </dd>

            <dt>
                Mô tả
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MoTa)
            </dd>

            <dt>
                Loại dịch vụ:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_LoaiDichVu.TenLoaiDV)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <div>
                    <button type="button" class="btn btn-default" onclick="history.back();">Quay lại</button>
                </div>
            </div>
        }
    </div>
</div>
